body {
    background-color: #BAD7E9;
    font-family: 'Averia Serif Libre', cursive;
}



@media screen and (max-width: 1300px) and (min-width: 991px) {
    #link {
        padding-left: 14rem;
    }
}

.nav-link {
    margin: 0 12px 0;
    font-size: larger;
    font-weight: bold;
    color: #EAFDFC;
}

.nav-link:hover {
    color: #fff;
}

.navbar-brand {
    font-size: 24px;
}
@media screen and (max-width: 991px) and (min-width: 0px){
    .navbar-brand {
        font-size: 14px;
    }
 
  
    #navbrand {
        position: absolute;
        right: 9px;
        margin: auto;
    }

    #search {
        position: absolute;
        right: 127px;
        margin: auto;

    }
}



/* titlesection */
#title-img {
    width: 111%;
    margin-left: 33px;
    margin-top: -17%
}

#container-title {
    padding: 7% 13%;
    text-align: center;
    text-align: justify;

}

.card {
    margin: auto 24px auto 7px;
}

#middle {
    padding: 6% 82px;
}


hr {

    border: dotted #686055 6px;
    border-bottom: none;
    width: 20%;
    margin-left: 40%;
    margin-top: 1%;
}

.card-img-top {
    width: 261px;
    height: 171px;
}


.card {
    height: 25rem;
    text-align: justify;
    background-color: #BFEAF5;
    border: 1px solid #a29ef0;
    box-sizing: border-box;
    overflow: auto;
}
#footer {
    text-align: center;

}

#icon {
    margin: 10rem 6px 17px;
}